@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default
}

/* :root {
  --background: #ffffff;

}
@media (prefers-color-scheme: dark) {
  :root {

    --foreground: #ededed;
  }
}

body {
  background: var(--foreground);
  
  
} */
